div {
    font-family: Arial;
}

.app-container {
    display: grid;
    grid-template-columns: 350px 1fr;
    height: 800px;
    margin: auto;
}

.left-container {
    background-color: lightgray;
    border-style: solid;
    border-color: gray;
}

.drinks-title,
.snacks-title {
    text-align: center;
}

.button-column-one,
.button-column-two {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.right-container {
    background-color: lightgray;
    border-style: solid;
    border-color: gray;
}

.screen-title {
    height: 40px;
    background-color: lightgray;
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
}

.screen-container {
    height: 670px;
    background-color: gray;
    overflow: auto;
}

.price-screen {
    background-color: lightgray;
    font-weight: bold;
}

.button-container {
    height: 300px;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    border-style: solid;
    border-color: gray;
}

.button1,
.button2,
.button3 {
    margin-top: 5px;
    height: 40px;
    width: 65px;
}

.button1 {
    background: url(pepsi.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
}

.button2 {
    background: url(arizonaDrink.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
}

.button3 {
    background: url(aquafina.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.item-box {
    height: 60px;
    background-color: rgb(180, 180, 180);
    margin-bottom: 2px;
    position: relative;
}

.delete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
}