div {
    font-family: Arial;
}

.screen-title {
    height: 40px;
    background-color: 7C9473;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding-top: 15px;
    border: none;
}

.drinks-title,
.snacks-title,
.chips-title {
    text-align: center;
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: 7C9473;
    border-radius: 5px;

}


.app-container {
    display: grid;
    grid-template-columns: 400px 1fr;
    height: 700px;
    margin: auto;
    border-style: solid;
    min-width: 900px;
}

.left-container {
    background-color: #CFDAC8;
    border: none;
    border-right-width: 1px;
    border-right-style: solid;
}

.button-container {
    height: 380px;
    background-color: #CFDAC8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    border: none;
}


.column {
    overflow: scroll;
    height: 300px;
}

.button-column-one,
.button-column-two,
.button-column-three {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.right-container {
    background-color: 7C9473;
    border: none;
    min-width: 500px;
}


.screen-container {
    height: 600px;
    background-color: #E8EAE6;
    overflow: auto;
    border: none;

}

.item-box {
    height: 80px;
    font-size: 18px;
    background-color: CDD0CB;
    margin-bottom: 3px;
    padding-left: 10px;
    padding-top: 5px;
    position: relative;
}

.price-screen {
    background-color: 7C9473;
    font-size: 18px;
    padding-top: 12px;
    padding-left: 5px;
    font-weight: bold;
}


.function-screen {
    background-color: E8EAE6;
    border-style: solid;
    border-width: 1px;
    margin-top: 20px;
    height: 197px;
    margin-left: 10px;
    margin-right: 10px;
}


.service-functions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 37;
}


.payScreen {
    position: relative;
    height: 214px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.payMessage {
    padding-top: 15px;
    text-align: center;
    font-size: 20px;
}

.defaultMessage {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 20px;
}

.postPayMessege {
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
}